.weddings__wrapper {
  /* border: 1px solid green; */
  
}

.weddings__description {
  /* border: 1px solid red; */
  float: left;
  width: 38%;
  text-align: left;
  margin-left: 7%;
  /* margin-top: 3%; */
}

.wedding_pic >img {
  /* border: 1px solid blue; */
  float: right;
  margin-right: 7%;
  width: 43%;
}

.weddings__heading > h1 {
  font-size: 50px;
  margin: auto;
  width: 60%;
  font-weight: lighter;
  /* border: 1px solid red; */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgray;
}
