.weddings__wrapper {
  border: 1px solid green;
}

.weddings__description {
  border: 1px solid red;
  float: left;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.slider__wrapper {
  border: 1px solid blue;
  float: right;
}

.weddings__heading > h1 {
  font-size: 50px;
  margin: auto;
  width: 60%;
  font-weight: lighter;
  /* border: 1px solid red; */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.slider__wrapper {
    width: 50%;
    margin: auto;
}
