.where__container {
    padding: 4rem;
    padding-bottom: 4rem;
    padding-top: 0rem;
    background: #fff;
    /* border: solid blue 3px; */
}

h1 {
    text-align: left;
    padding-bottom: 20px;
}

.image__container {
    /* border: 3px solid blue; */
    padding: 5px;
    /* max-width: 640px; */
    display: flex;
    margin-right: 20px;

    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.text__container {
    /* border: 3px solid blue; */
    padding: 5px;
    max-width: 640px;
    padding-right: 20px !important;

    display: inline-block;
    width: 70%;
    
}

.where__header {
    text-align: left;
    padding-bottom: 10px !important;
    border-bottom: 1px solid lightgray;

}

.text__container {
    padding: 5px;
    max-width: 640px;
    display: inline-block;
    width: 70%;
    
}

.description__container {
    margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
    .content__container {
        align-content: center;
    }

    .image__container {
        width: 100%;
        height: auto;
    }

    .text__container {
        width: 100%;
    }
}
